.All-curriculum-cards {
    margin-right: 1vw;
}

.All-curriculum-cards .Card-curriculum {
    margin-bottom: 1.5vh;
}

.Buttons-exclude-popup {
    display: flex;
    justify-content: space-around;
}

.Versions-Screen {
    display: flex;
}

.Menu {
    flex: 0 0 30%;
}

.Body {
    flex: 1;
}

.List-curriculum-cards {
    margin-top: 2%;
}